*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.MuiTablePagination-selectRoot {
  margin: 0 5px !important;
}

.MuiToolbar-gutters {
  padding-left: 0 !important;
}